<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- أذونات الإنترنت وحالة الشبكة (ضرورية لـ ApiHelper و InternetUtils) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- أضف أي أذونات أخرى تحتاجها بناءً على وظائف تطبيقك (مثل WRITE_EXTERNAL_STORAGE للمدير الملفات) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- ملاحظة: WRITE_EXTERNAL_STORAGE يتطلب Android 11+ -->


    <application
        android:name=".BaseApplication"
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.NewBase"
    android:usesCleartextTraffic="true">

    <!-- تعريف LoginActivity كنقطة دخول رئيسية -->
    <!-- **مهم جدًا: تأكد أن هذا هو النشاط الوحيد الذي يحتوي على MAIN و LAUNCHER** -->
    <activity
        android:name=".Ui.activities.LoginActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity android:name=".Ui.activities.MainActivity" />

    <activity android:name=".Ui.activities.RegisterActivity" />
    <activity android:name=".Ui.activities.ForgotPasswordActivity" />
    <activity android:name=".Ui.activities.WebViewActivity"
        tools:ignore="Instantiatable" />


</application>

    </manifest>